TestCalculatrice/Connected Services/BDDservice/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceWCFBDD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceWCFBDD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FicheUtilisateurs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FicheUtilisateurs" nillable="true" type="tns:FicheUtilisateurs" />
  <xs:complexType name="FicheOperations">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdUtilisateurs" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroLigne" type="xs:int" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FicheOperations" nillable="true" type="tns:FicheOperations" />
  <xs:complexType name="ArrayOfFicheUtilisateurs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FicheUtilisateurs" nillable="true" type="tns:FicheUtilisateurs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFicheUtilisateurs" nillable="true" type="tns:ArrayOfFicheUtilisateurs" />
  <xs:complexType name="ArrayOfFicheOperations">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FicheOperations" nillable="true" type="tns:FicheOperations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFicheOperations" nillable="true" type="tns:ArrayOfFicheOperations" />
  <xs:complexType name="Utilisateurs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Utilisateurs" nillable="true" type="tns:Utilisateurs" />
</xs:schema>