TestCalculatrice/Connected Services/BDDservice/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51520/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51520/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51520/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceWCFBDD" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOperation" />
  </wsdl:message>
  <wsdl:message name="IService1_AddOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOperation" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveAllOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAllOperation" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveAllOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAllOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUtilisateurs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilisateurs" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUtilisateurs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilisateursResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperation" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AjoutUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:AjoutUtilisateur" />
  </wsdl:message>
  <wsdl:message name="IService1_AjoutUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjoutUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupUtilisateur" />
  </wsdl:message>
  <wsdl:message name="IService1_RecupUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VerifUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifUtilisateur" />
  </wsdl:message>
  <wsdl:message name="IService1_VerifUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SupprimerUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerUtilisateur" />
  </wsdl:message>
  <wsdl:message name="IService1_SupprimerUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditerUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:EditerUtilisateur" />
  </wsdl:message>
  <wsdl:message name="IService1_EditerUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditerUtilisateurResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddOperation" message="tns:IService1_AddOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddOperationResponse" message="tns:IService1_AddOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveOperation" message="tns:IService1_RemoveOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveOperationResponse" message="tns:IService1_RemoveOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAllOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveAllOperation" message="tns:IService1_RemoveAllOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveAllOperationResponse" message="tns:IService1_RemoveAllOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtilisateurs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUtilisateurs" message="tns:IService1_GetUtilisateurs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUtilisateursResponse" message="tns:IService1_GetUtilisateurs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOperation" message="tns:IService1_GetOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOperationResponse" message="tns:IService1_GetOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjoutUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AjoutUtilisateur" message="tns:IService1_AjoutUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AjoutUtilisateurResponse" message="tns:IService1_AjoutUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecupUtilisateur" message="tns:IService1_RecupUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecupUtilisateurResponse" message="tns:IService1_RecupUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VerifUtilisateur" message="tns:IService1_VerifUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerifUtilisateurResponse" message="tns:IService1_VerifUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupprimerUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SupprimerUtilisateur" message="tns:IService1_SupprimerUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SupprimerUtilisateurResponse" message="tns:IService1_SupprimerUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditerUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditerUtilisateur" message="tns:IService1_EditerUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditerUtilisateurResponse" message="tns:IService1_EditerUtilisateur_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOperation">
      <soap:operation soapAction="http://tempuri.org/IService1/AddOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveOperation">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllOperation">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveAllOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtilisateurs">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUtilisateurs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperation">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AjoutUtilisateur">
      <soap:operation soapAction="http://tempuri.org/IService1/AjoutUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupUtilisateur">
      <soap:operation soapAction="http://tempuri.org/IService1/RecupUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifUtilisateur">
      <soap:operation soapAction="http://tempuri.org/IService1/VerifUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupprimerUtilisateur">
      <soap:operation soapAction="http://tempuri.org/IService1/SupprimerUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditerUtilisateur">
      <soap:operation soapAction="http://tempuri.org/IService1/EditerUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51520/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>